/bitrix/
/upload/
node_modules/
/local/config/

/local/modules
/local/modules/designcode.catcher/

/bitrix
/upload

/.bash_history
/.htaccess
robots.txt

.htsecure
.ssh
history
/.docker
/.idea
/.local

*.xml
*.log
*.tar
*.gz
*.tgz
*.tar.gz
*.zip
*.txt
.idea/